go 1.25.7

use (
	./Olympus2
	./Olympus2/90000-Enablement-Labs/.000-Tools/fleet-sync-gitignore
	./OlympusActors-Cognition
	./OlympusActors-Delegation
	./OlympusAscent
	./OlympusAssurance
	./OlympusAtelier
	./OlympusFabric
	./OlympusForge
	./OlympusForge/90000-Enablement-Labs/900-Forge
	./OlympusForge/ZC0400-Sovereign-Source/mcp-go
	./OlympusGCP-Data-AI
	./OlympusGCP-FinOps
	./OlympusGCP-Foundation
	./OlympusGCP-Orchestration
	./OlympusGCP-Platform
	./OlympusGrammar
	./OlympusInfrastructure
	./OlympusVision
)
