go 1.25.7

use (
	./Olympus2
	./OlympusActors-Cognition
	./OlympusActors-Delegation
	./OlympusAscent
	./OlympusAssurance
	./OlympusAtelier
	./OlympusFabric
	./OlympusForge
	./OlympusForge/90000-Enablement-Labs/900-Forge
	./OlympusForge/ZC0400-Sovereign-Source/mcp-go
	./OlympusGCP-Compute
	./OlympusGCP-Data
	./OlympusGCP-Events
	./OlympusGCP-FinOps
	./OlympusGCP-Firebase
	./OlympusGCP-Intelligence
	./OlympusGCP-Messaging
	./OlympusGCP-Observability
	./OlympusGCP-Storage
	./OlympusGCP-Vault
	./OlympusGrammar
	./OlympusInfrastructure
	./OlympusVision
)
